body {
  font-family: sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

section {
  padding: 2rem;
  margin: auto;
  max-width: 800px;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

/* 👇 Dark Mode Class */
.dark-mode {
  background-color: #121212;
  color: #f4f4f4;
}
body.dark-mode nav,
body.dark-mode header,
body.dark-mode footer {
  background: #222;
}

body.dark-mode .project-card {
  background: #333;
}
/* form class*/
form {
  max-width: 500px;
  margin-top: 15px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}
